h1 {
  text-align: center;
}

.inputs, .equations, .convert {
  margin-left: 2vw;
}

.convert {
  padding: 5px 10px;
  margin-top: 50px;

  select { 
    margin-left: 10px;
  }
  input {
    padding: 5px 10px;
  }
}

.equations {
  padding: 5px 10px;
  margin-top: 30px;

  .equation {
    font-weight: 500;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.input-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;

  .unit {
    width: 100px;
    margin-left: 10px;
  }
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    padding: 5px 10px;
  }
  label {
    font-weight: 500;
  }
}